// Colors
$ui-glitchy-bg: #302145;
$ui-glitchy-bg-light: #2d1558;
$ui-glitchy-brightest: #f993fa;
$ui-glitchy-purple: #f993fa;
$ui-glitchy-blue: #5849ce;
$ui-glitchy-pink: #ff42a0;

$ui-base-color: $ui-glitchy-bg;
$ui-base-lighter-color: $ui-glitchy-purple;
$ui-primary-color: $ui-glitchy-purple;
$ui-secondary-color: $ui-glitchy-purple;
$ui-bright-color: $ui-glitchy-pink;
$ui-highlight-color: $ui-glitchy-pink;