// Dependent colors
$black: #000000;
$white: #aaaaaa;

$classic-base-color: #404040;
$classic-primary-color: darken(#f0e89b, 10%);
$classic-secondary-color: #ffeab2; //main color, background and shit
$classic-highlight-color: #ff0000; //accent color

// Differences
$success-green: #029666;

$base-overlay-background: #a8f0f6 !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #b0c0cf;
$ui-primary-color: lighten(#a8f0f6, 10%);
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: #98c1ef;
$gold-star: $ui-highlight-color !default;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #606060;
$action-button-color: #ff8172;

$inverted-text-color: $black !default;
$lighter-text-color: darken($classic-base-color, 10%) !default;
$light-text-color: #385076;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
